<%- include("header.ejs")%>
<!--  -->
<%- include("navbar.ejs")%>
<!--  -->
<form action="/createexpense" method="post">
    <input type="number" name="amount" placeholder="Enter Amount" />
    <input type="text" name="remark" placeholder="Remark" />
    <input type="text" name="category" placeholder="Category" />
    <select name="paymentmode">
        <option value="cash">Cash</option>
        <option value="online">Online</option>
        <option value="check">Check</option>
    </select>
    <button>Add Expense</button>
</form>
<!--  -->
<%- include("footer.ejs")%>