<%- include("header")%>
<%- include("navbar")%>

<a href="/signup">Signup</a>
<form action="/send-mail" method="post">
    <input type="email" name="email" placeholder="enter registered email" />
    <button>Send Mail</button>
</form>

<%- include("footer")%>