<%- include("header")%>
<!--  -->
<%- include("navbar")%>
<!--  -->
<form action="/reset" method="POST">
    <input type="password" name="oldpassword" placeholder="Old Password" />
    <input type="password" name="newpassword" placeholder="New Password" />
    <button>Reset</button>
</form>
<!--  -->
<%- include("footer")%>